body {
	background: #202225;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: sans-serif;
	overflow: hidden;
	overflow-y: scroll;
	color: white;
}

.game {
	display: flex;
	flex-direction: column;
	border-width: 1px;
	/* border-style: solid; */
	border-color: white;
	/* width: 500px; */
	align-items: center;
	gap: 24px;
	/* min-width: 50%; */
	width: 100%;
	max-width: 400px;
}

.buttons,
.p-score-num,
.c-score-num {
	background: #2f3136;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 16px;
	padding: 16px;
	border-radius: 12px;
	margin: 16px 0px;
}

.buttons {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

	/* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
		rgba(0, 0, 0, 0.23) 0px 6px 6px; */
	/* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

button {
	color: white;
	background: hsl(332, 100%, 50%);
	border-radius: 8px;
	border-style: none;
	padding: 8px 24px;
	font-size: 16px;
}

.choices {
	display: flex;
	font-size: 36px;
	align-items: center;
	width: 87%;
	justify-content: space-between;
}

.p-choice,
.c-choice,
.vs {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 0px;
}

.vs {
	font-size: 28px;
	position: relative;
	/* top: 16px; */
	/* bottom: 36px; */
	top: 100px;
}

.scores {
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex-wrap: wrap;
	font-size: 24px;
	color: #eaeaea;
}

.p-score,
.c-score {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	width: 56px;
}

.p-score-num,
.c-score-num {
	padding: 12px 18px;
	font-size: 36px;
	margin: 0px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	/* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

/* remove scrollbar */
::-webkit-scrollbar {
	width: 0px;
}

.results-full {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 120%;
	overflow: hidden;
	scrollbar-width: none;
	gap: 8px;
}

.results-full .text {
	color: #888888;
	font-size: 16px;
}

.results {
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: center;

	border-radius: 12px;
	overflow: hidden;
	max-height: 600px;
	overflow-y: scroll;

	margin: 16px;
}

.result {
	padding: 8px;
}

.endresult {
	font-size: 24px;
	padding: 16px;
	/* margin-top: 16px; */
	/* border-radius: 8px; */

	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
